
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <h2 class="navbar-brand" href="/"><img src="#" style="height:50px; font-weight:800;color:#f33f3f;width:auto" alt="AFRICASTOCK" ></h2>
            </div>
                       <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                         <li class=" active has-sub">
                            <a class="js-arrow" href="/admin">
                                <i class="fas fa-tachometer-alt"></i>Tableau de bord</a>
                            
                        </li>
                        <li  >
                            <a href="/admin/statistique">
                                <i class="fas fa-chart-bar"></i>Statistique</a>
                        </li>
                        <li>
                            <a href="/admin/userdata">
                                <i class="fas fa-user"></i>Données des utilisateurs</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Listes des Oeuvres</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Image</a>
                                </li>
                                <li>
                                    <a href="register.html">Video</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Illustration</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">voix Off</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-edit"></i>Modifier Oeuvres</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Image</a>
                                </li>
                                <li>
                                    <a href="register.html">Video</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Illustration</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">voix Off</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-plus"></i>Ajouter des Oeuvres</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Image</a>
                                </li>
                                <li>
                                    <a href="register.html">Video</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Illustration</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">voix Off</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-trash"></i>Supprimer des Oeuvres</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Image</a>
                                </li>
                                <li>
                                    <a href="register.html">Video</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Illustration</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">voix Off</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/userdata">
                                <i class="fas fa-calendar-alt"></i>Agenda</a>
                        </li>
                           <li>
                            <a href="/admin/userdata">
                                <i class="fas fa-calendar-alt"></i>Demandes personnalisées</a>
                        </li>
                          <li>
                            <a href="/admin/userdata">
                                <i class="fas fa-newspaper"></i>Formulaires de contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->