    
  
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
      <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-01">
            <div class="text-content">
              <h4>Meilleures des images </h4>
              <h2>Plus de milles belles  images </h2>
              <br> <br>
                  
                  <a href="/register" class="btn btn-outline-danger btn-lg " role="button" aria-pressed="true">Inscription</a>
                  <a href="/login" class="btn btn-outline-danger btn-lg " role="button" aria-pressed="true">Connexion</a>
            </div>
          </div>
          </div>
          </div>
          </div>
    <div class="carousel-item" data-interval="2000">
      <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-02">
            <div class="text-content">
                <h4>Flash Deals</h4>
                <h2>Get your best products</h2>
                <br> <br>
                    
                    <a href="/register" class="btn btn-danger btn-lg " role="button" aria-pressed="true">Inscription</a>
                    <a href="/login" class="btn btn-outline-danger btn-lg " role="button" aria-pressed="true">Connexion</a>
              </div>
              </div>
        </div>
        </div>
        </div>

    </div>
  </div>
