{% extends 'admin/base.html.twig' %}

{% block title %}AdminController!{% endblock %}

{% block body %}


        <div class="page-wrapper">
        
        {{include('includesAdmin/header.html.twig')}}
        {{include('includesAdmin/menu.html.twig')}}
        {{include('includesAdmin/pagesController.html.twig')}}
         </div>
         
{% endblock %}
