{% extends 'base.html.twig' %}

{% block title %}New ArticleImg{% endblock %}

{% block body %}
    <h1>Create new ArticleImg</h1>

    {{ include('article_img/_form.html.twig') }}

    <a href="{{ path('article_img_index') }}">back to list</a>
{% endblock %}
