
<h1> Activativation de compte </h1>

<p> Vous avez  crée un compte sur notre site AFRICA STOCK , veuillez cliquez sur ce lien pour l'activer</p>
<p> <a href="{{absolute_url(path('activation',{'token':token}))}}"> activer mon compte</a></p>
