{% extends 'base.html.twig' %}

{% block title %}New ArticleVoix{% endblock %}

{% block body %}
    <h1>Create new ArticleVoix</h1>

    {{ include('article_voix/_form.html.twig') }}

    <a href="{{ path('article_voix_index') }}">back to list</a>
{% endblock %}
